<table class="sortable creatures">
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Type</th>
    <th>HP</th>{% if listmod %}
    <th>Mod</th>{% endif %}
  </tr>
  {% for creature in creatures %}
  <tr>
    <td>{{ creature.name }}</td>
    <td class="image"><img src="{{ creature.image.relativeTo(dir) }}"></td>
    <td>{{ creature.type }}</td>
    <td>{{ creature.minHP }}{% if creature.minHP != creature.maxHP %}-{{ creature.maxHP }}{% endif %}</td>{% if listmod %}
    <td><a href="{{creature.mod.id}}/index.html">{{ creature.mod.modName }}</a></td>{% endif %}
  </tr>
  {% endfor %}
</table>