<!DOCTYPE html!>
<html>
  <head>
    <title>{{selection}} cards</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  </head>
  <body>
    <h1>{{selection}} cards</h1>
    <table class="sortable">
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Upgraded image</th>
        <th>Rarity</th>
        <th>Type</th>
        <th>Cost</th>
        <th>Description</th>
      </tr>
      {% for card in cards %}
      <tr>
        <td>{{ card.name }}</td>
        <td><a href="{{ card.relImage }}"><img src="{{ card.relSmallImage }}" height="298"></a></td>
        <td>{% if card.upgrade %}<a href="{{ card.upgrade.relImage }}"><img src="{{ card.upgrade.relSmallImage }}" height="298"></a>{% endif %}</td>
        <td>{{ card.rarity }}</td>
        <td>{{ card.type }}</td>
        <td>{{ card.costAndUpgrade }}</td>
        <td>{{ card.textAndUpgrade }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>