<!DOCTYPE html!>
<html>
  <head>
    <title>Relics</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  </head>
  <body>
    <h1>Relics</h1>
    <table class="sortable">
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Tier</th>
        <th>Pool</th>
        <th>Description</th>
        <th>Flavor</th>
        <th>Mod</th>
      </tr>
      {% for relic in relics %}
      <tr>
        <td><a href="{{ relic.relPopupImage }}">{{ relic.name }}</a></td>
        <td><img src="{{ relic.relImage }}" width="128" height="128"><a href="{{ relic.relPopupImage }}"><img src="{{ relic.relSmallPopupImage }}" class="popup"></a></td>
        <td>{{ relic.tier }}</td>
        <td>{{ relic.pool }}</td>
        <td>{{ relic.descriptionHTML }}</td>
        <td>{{ relic.flavorText }}</td>
        <td><a href="mods/{{relic.mod.id}}.html">{{ relic.mod.modName }}</a></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>